<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Movie Ordering System</title>
	<link rel="stylesheet" href=".../static/bootstrap.css"  th:href="@{bootstrap.css}"/>
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="/static/app/order.controller.js" th:src="@{/app/order.controller.js}"></script>
</head>
<body data-ng-app="app" data-ng-controller="OrderController as vm">

<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Movie Ordering System</a>
            </div>
            <p class="navbar-text navbar-right" th:text="'Signed in as ' + ${username}" style="margin-right: 10px;">Signed in as Anonymous</p>
        </div>
    </nav>
</header>

<div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <table class="table">
                <thead>
                	<tr>
                    	<th>Movie</th>
                    	<th>Number of Children</th>
                    	<th>Number of Students</th>
						<th>Number of Adults</th>
						<th>Total Price</th>
                    	<th style="width: 90px"></th>
                	</tr>
                </thead>
                	<tbody>
                		<td>
  							<select 
  								ng-options="order.movieName for order in vm.movies track by order.id" 			
  								ng-model="selected">
  							</select>
                		</td>
                		<td>
                		  	<select 
  								ng-model="numChildren" convert-to-number>
  								<option value="0">Zero</option>
      							<option value="1">One</option>
     	 						<option value="2">Two</option>
     	 						<option value="3">Three</option>
     	 						<option value="4">Four</option>
   							</select>
                			at ${{selected.pricePerChild}}/ea               			
                		</td>    
                			               
                    	<td>
                    	   <select 
  								ng-model="numStudents" convert-to-number>
  								<option value="0">Zero</option>
      							<option value="1">One</option>
     	 						<option value="2">Two</option>
     	 						<option value="3">Three</option>
     	 						<option value="4">Four</option>
   							</select>
                    		at ${{selected.pricePerStudent}}/ea                   	
                    	</td>
                    	<td>
                    		<select 
  								ng-model="numAdults" convert-to-number>
  								<option value="0">Zero</option>
      							<option value="1">One</option>
     	 						<option value="2">Two</option>
     	 						<option value="3">Three</option>
     	 						<option value="4">Four</option>
   							</select>
                    		at ${{selected.pricePerAdult}}/ea            	
                    	</td>
                    	<td>
                    	<!-- Calculate the total price -->
                    		$ {{
                    			numChildren*selected.pricePerChild +
                    			numStudents*selected.pricePerStudent +
                    			numAdults*selected.pricePerAdult
                    		}}
                    	</td>
                	</tbody>
            </table>
        </div>
    </div>
</div>

<footer class="footer" style="position: absolute; bottom:0;background-color: #f5f5f5; width: 100%">
    <div class="container">
        <p th:text="${#dates.format(datetime, 'dd MMM yyyy HH:mm')}"  class="text-muted"></p>
    </div>
</footer>
</body>
</html>